<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="self-studying">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link href="{% static 'homepage/css/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'homepage/css/footer.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include "homepage/includes/header.html" %}
{% block content %}
{% endblock %}
{% include "homepage/includes/footer.html" %}
<script src="{% static 'homepage/js/header.js' %}"></script>
</body>
</html>